/* Styles created by Matthew Mayer for Playhouse Academy 11/2020.
   Color Palette: Defined by Client */

/* Site Variables */
* {
    margin: 0px;
    padding: 0px;
}
:root {
    /* Font declarations */
    font-size: 16px;
    --main-font: "ratio", sans-serif;
    --font-weight-light: 300;
    --font-weight-medium: 400;
    --font-weight-strong: 500;
    /* Color declarations */
    --primary-orange: #eb9d3f;
    --primary-purple: #8118b0;
    --primary-red: #f12727;
    --primary-navy: #002851;
    --background-purple: #e6bafa;
    --background-orange: #fad4a7;
    --background-blue: #;
    --background-red: #f56363;
    --white: white;
    --white75: rgba(255, 255, 255, 0.75);
    --alpha70: 0.7;
    color: black;
    margin: 0px;
}

/* STRUCTURAL STYLES */
body {
font-family: var(--main-font);
font-weight: var(--font-weight-light);
background-color: var(--white);
padding: 0px;
margin: 0px;
}

/* SEMANTIC STYLES */
 button{
    margin: auto;
    padding: 3px 16px;
    background-color: var(--primary-purple);
    border: 0px;
    margin-top: 9px;
    color: white;
    /* margin-left: 112px; */
 }
 form{
   padding-left: 12rem;
 }
 form div{
   margin-bottom: 1rem;
 }
 label{
    display: inline-block;
    width: 100px;
    margin-right: 6px;
    text-align: right;
    font-weight: 400;
 }
 main{
   width: 100%;
   margin: auto;
 }
 section {
   width: 85%;
   margin: auto;
   text-align: left;
   margin-top: 65px;
 }
 table i {
   margin-right: 12px;
 }
 table td {
   padding: 6px;
 }
/* CLASS AND ID STYLES */
.error{
   color: var(--primary-red);
}
#sign-in{
   display: block;
   margin: auto;
   text-align: center;
   width: 350px;
}


.navbar {
  display: inline-block;
  overflow: hidden;
  background-color: transparent;
  margin-left: 112px;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  background-color: transparent;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}